<% if !@posts.empty? %>
  <% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <hr>
    <%= md_render(post.content).html_safe %>
  <% end %>
<% else %>
  Really? No content here yet..
<% end %>

